---
- name: Install iptables-persistent
  ansible.builtin.apt:
    name:
      - iptables
      - iptables-persistent
    state: present
  tags:
    - molecule-notest

- name: Flush existing iptables rules
  ansible.builtin.iptables:
    flush: true
  tags:
    - molecule-notest

- name: Allow established connections (INPUT)
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
  tags:
    - molecule-notest

- name: Allow loopback (INPUT)
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT
  tags:
    - molecule-notest

- name: Allow SSH from allowed networks
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "22"
    source: "{{ item }}"
    jump: ACCEPT
  loop: "{{ splunk_allowed_networks }}"
  tags:
    - molecule-notest

- name: Allow Splunk ports from allowed networks
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ item[1].value }}"
    source: "{{ item[0] }}"
    jump: ACCEPT
  loop: "{{ splunk_allowed_networks | product(splunk_ports | dict2items) | list }}"
  loop_control:
    label: "Allow {{ item[1].key }} from {{ item[0] }}"
  tags:
    - molecule-notest

- name: Set INPUT policy to DROP
  ansible.builtin.iptables:
    chain: INPUT
    policy: DROP
  tags:
    - molecule-notest

- name: Allow outbound to allowed networks
  ansible.builtin.iptables:
    chain: OUTPUT
    destination: "{{ item }}"
    jump: ACCEPT
  loop: "{{ splunk_allowed_networks }}"
  tags:
    - molecule-notest

- name: Allow outbound established connections
  ansible.builtin.iptables:
    chain: OUTPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
  tags:
    - molecule-notest

- name: Allow outbound loopback
  ansible.builtin.iptables:
    chain: OUTPUT
    out_interface: lo
    jump: ACCEPT
  tags:
    - molecule-notest

- name: Set OUTPUT policy to DROP (network isolation)
  ansible.builtin.iptables:
    chain: OUTPUT
    policy: DROP
  tags:
    - molecule-notest

- name: Get active iptables rules
  ansible.builtin.command:
    cmd: iptables-save
  register: splunk_active_rules
  changed_when: false
  check_mode: false
  tags:
    - molecule-notest

- name: Save iptables rules
  ansible.builtin.copy:
    content: "{{ splunk_active_rules.stdout }}"
    dest: /etc/iptables/rules.v4
    owner: root
    group: root
    mode: '0644'
  tags:
    - molecule-notest
