---
- name: Verify
  hosts: all
  gather_facts: false
  become: true

  tasks:
    - name: Check that common packages are installed
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      check_mode: true
      register: pkg_check
      failed_when: pkg_check.changed
      loop:
        - htop
        - vim
        - curl
        - wget
        - git

    - name: Check rsyslog is running
      ansible.builtin.systemd:
        name: rsyslog
        state: started
      check_mode: true
      register: rsyslog_check
      failed_when: rsyslog_check.changed
